@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
	Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-light: rgb(242, 240, 225);
	--color-bg-dark: rgb(29, 48, 64);
	--color-theme-light: rgb(29, 48, 64);
	--color-theme-dark: rgb(191, 194, 199);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
}

.dark-mode {
	background-color: var(--color-bg-dark);
	color: var(--color-theme-dark);
	border-color: var(--color-theme-dark);
}

/* When dark mode is applied, buttons are gonna be light colored */
.dark-mode button{
	background-color: var(--color-bg-light);
	color: var(--color-theme-light);
	border-color: var(--color-theme-light);
}

/* Make icons (imgs that are in an <a>) white in dark mode by inverting, color should be black or something dark*/
.dark-mode a img{
	filter: invert(90%);
}


body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--color-bg-light);
	color: var(--color-theme-light);
	transition: background-color 0.3s;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
	border-radius: 10px;
	background-color: var(--color-bg-dark);
	color: var(--color-theme-dark);
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
