@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ASCII Art Font: ANSI Regular, styling by FaikYY */

/* 
//SECTION: VARIABLES
██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
*/
:root {
	--font-body: monospace, Arial, sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-background: rgb(244, 242, 240);
	--color-foreground: rgb(29, 48, 64);
	/* --color-theme-light: rgb(29, 48, 64); */
	/* --color-theme-dark: rgb(191, 194, 199); */
	font-family: var(--font-body);
}

html,
body,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 
//SECTION: GENERIC STYLING
██████  ███████ ███    ██ ███████ ██████  ██  ██████     ███████ ████████ ██    ██ ██      ██ ███    ██  ██████  
██       ██      ████   ██ ██      ██   ██ ██ ██         ██         ██     ██  ██  ██      ██ ████   ██ ██       
██   ███ █████   ██ ██  ██ █████   ██████  ██ ██         ███████    ██      ████   ██      ██ ██ ██  ██ ██   ███ 
██    ██ ██      ██  ██ ██ ██      ██   ██ ██ ██              ██    ██       ██    ██      ██ ██  ██ ██ ██    ██ 
██████  ███████ ██   ████ ███████ ██   ██ ██  ██████     ███████    ██       ██    ███████ ██ ██   ████  ██████  
*/
body {
	min-height: 100vh;
	margin: 0;
}

.app,
header,
nav,
footer,
main,
section,
#icon__box {
	background-color: var(--color-background);
	color: var(--color-foreground);
	transition: background-color 0.3s;
}

a {
	text-decoration: none;
	color: var(--color-foreground);
}

p {
	font-size: 1rem;
	font-weight: 500;
	line-height: 2rem;
}

h1 {
	font-size: 1.75rem;
	font-weight: 800;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
}

h3 {
	font-size: 1.25rem;
	font-weight: 600;
}

section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2rem;
}

/* //NOTE: These remove the blue weird blue box on mobile */
button,
textarea,
input,
select,
div {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input,
button {
	font-size: inherit;
	font-family: inherit;
	border-radius: 10px;
	background-color: var(--color-background);
	color: var(--color-foreground);
}

button:focus:not(:focus-visible) {
	outline: none;
}

/* 
//SECTION DARK MODE
██████   █████  ██████  ██   ██     ███    ███  ██████  ██████  ███████ 
██   ██ ██   ██ ██   ██ ██  ██      ████  ████ ██    ██ ██   ██ ██      
██   ██ ███████ ██████  █████       ██ ████ ██ ██    ██ ██   ██ █████   
██   ██ ██   ██ ██   ██ ██  ██      ██  ██  ██ ██    ██ ██   ██ ██      
██████  ██   ██ ██   ██ ██   ██     ██      ██  ██████  ██████  ███████ 
*/
.dark__mode {
	--color-background: rgb(29, 48, 64);
	--color-foreground: rgb(244, 242, 240);
}

.dark__mode .icon {
	filter: invert(90%);
}
